# Sensitive API Credentials
apikey.txt
private.txt

# Local Data & Logs
log.txt
trades.json
state.json

# Local Dashboards
dashboard.html
portfolio.html

# Python environment
__pycache__/
*.py[cod]
.env
*.json
yolomax.py
yolo247.py
yolo.py
oldbot.py
